<sys-grid [columns]="4">
  <div>
    <sys-card title="Card Title" [divider]="true" subTitle="Sub Title">
      <sys-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias voluptatem a incidunt consectetur tenetur sequi soluta blanditiis esse eius, obcaecati quod aspernatur, praesentium magnam cumque sit.
          </p>
      </sys-card-content>
    </sys-card>
    <br>
    
    <sys-card title="The people" avatar="https://www.sketchappsources.com/resources/source-image/profile-illustration-gunaldi-yunus.png"   subTitle="Card Subtitle">
      <sys-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias voluptatem a incidunt consectetur tenetur sequi soluta blanditiis esse eius, obcaecati quod aspernatur, praesentium magnam cumque sit.
          </p>
      </sys-card-content>
    </sys-card>
    <br>
    
    <div class="d-flex">
      <sys-card title="The people" [sysCardBody]="false" [flatImage]="false" avatar="https://www.sketchappsources.com/resources/source-image/profile-illustration-gunaldi-yunus.png"   subTitle="Card Subtitle">
        <sys-CardHeader-action>
          <sys-button icon="more_vert"  [iconBtn]="true" color="default"></sys-button>
        </sys-CardHeader-action>
      </sys-card>
    <sys-card title="The people" [sysCardBody]="true" [verticalSlot]="true" avatar="https://img.freepik.com/premium-vector/portrait-young-man-avatar-guy-social-networks-abstract-male-portrait-full-face-isolated-illustration-flat-style_276162-44.jpg"   subTitle="Card Subtitle">
      <sys-CardHeader-action>
        <sys-button icon="more_vert"  [iconBtn]="true" color="default"></sys-button>
      </sys-CardHeader-action>
      <sys-card-action>
        <sys-button icon="cancel" class="textBtn" color="error">
          Reject
        </sys-button>
        <sys-button icon="check" class="default" color="olive">
          Accept
        </sys-button>
      </sys-card-action>
    </sys-card>
    </div>
  </div>


    <sys-card title="Chemical"   [flatImage]="true"  subTitle="Product Categories"  cardImg="https://cdn.dribbble.com/users/60266/screenshots/13389733/media/0e5f5ac540a8f835d4b6f17e1d75693e.jpg?resize=400x0">
      <sys-CardHeader-action>
        <p><strong>Rs. 12999/-</strong></p>
      </sys-CardHeader-action>
      <sys-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias 
        </p>
      </sys-card-content>
      <sys-card-action>
        <sys-button icon="shopping_bag"  class="default" color="default">
          Buy Now
        </sys-button>
  
        <sys-button icon="shopping_cart" class="default" color="default">
          Add to Cart
        </sys-button>
      </sys-card-action>
    </sys-card>
    
    <sys-card title="Chemical"  [flatImage]="false"  subTitle="Product Categories"  cardImg="https://cdn.dribbble.com/users/60266/screenshots/13389733/media/0e5f5ac540a8f835d4b6f17e1d75693e.jpg?resize=400x0">
      <sys-CardHeader-action>
        <p><strong>Rs. 12999/-</strong></p>
      </sys-CardHeader-action>
      <sys-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias 
        </p>
      </sys-card-content>
      <sys-card-action>
        <sys-button icon="shopping_bag"  class="default" color="default">
          Buy Now
        </sys-button>
  
        <sys-button icon="shopping_cart" class="default" color="default">
          Add to Cart
        </sys-button>
      </sys-card-action>
    </sys-card>


 <div class="d-flex">
  <sys-card title="$ 628"  [flatImage]="false"  subTitle="Dharma Company">
    <sys-CardHeader-action>
      <mat-icon>bar_chart</mat-icon>
    </sys-CardHeader-action>
    <sys-card-content>
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [labels]="chartOptions.labels"
          [annotations]="chartOptions.annotations"
        ></apx-chart>
        </div>
    </sys-card-content>
  </sys-card>
  </div>
</sys-grid>
 