<div class="p-10">
  <div class="d-flex">
    <sys-card title="Card Title" [divider]="true" subTitle="Sub Title">
      <sys-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias voluptatem a incidunt consectetur tenetur sequi soluta blanditiis esse eius, obcaecati quod aspernatur, praesentium magnam cumque sit.
          </p>
      </sys-card-content>
    </sys-card>

    <sys-card title="Card Title" subTitle="Sub Title" icon="settings">
      <sys-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias voluptatem a incidunt consectetur tenetur sequi soluta blanditiis esse eius, obcaecati quod aspernatur, praesentium magnam cumque sit.
        </p>
      </sys-card-content>

      <sys-card-action>
        <sys-button icon="cancel" class="textBtn" color="error">
          Cancel
        </sys-button>

        <sys-button icon="check" class="textBtn" color="olive">
          Accept
        </sys-button>
      </sys-card-action>
    </sys-card>

    <sys-card title="Card Title" subTitle="Sub Title"  cardImg="../../assets/dummy-post-horisontal.jpg">
      <sys-CardHeader-action>
        <sys-button icon="favorite"  [iconBtn]="true" > </sys-button>
      </sys-CardHeader-action>
      <sys-card-content>
        <p>

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias voluptatem a incidunt consectetur tenetur sequi soluta blanditiis esse eius, obcaecati quod aspernatur, praesentium magnam cumque sit.
        </p>
      </sys-card-content>

    </sys-card>


    <sys-card title="Card Title" preIcon="account_circle" [flatImage]="true" subTitle="Sub Title" icon="favorite_border" cardImg="../../assets/dummy-post-horisontal.jpg">

      <sys-card-content>
        <p>

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt,
        </p>
      </sys-card-content>
      <sys-card-action>
        <sys-button icon="cancel" class="textBtn" color="error">
          Cancel
        </sys-button>

        <sys-button icon="check" class="textBtn" color="olive">
          Accept
        </sys-button>
      </sys-card-action>
    </sys-card>
</div>
<!-- -------------------------------------- -->




<sys-card title="Card Title" subTitle="Sub Title" [horigentalCard]="true" >
  <sys-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias
      </p>
  </sys-card-content>
</sys-card>
<br>
<sys-card preIcon="account_circle"  [horigentalCard]="true" >
  <sys-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias
      </p>
  </sys-card-content>
  <sys-card-action>
    <sys-button icon="check" class="textBtn" color="olive">
      Accept
    </sys-button>
  </sys-card-action>
</sys-card>
<br>
<sys-card preIcon="account_circle"  [horigentalCard]="true" >
  <sys-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias
      </p>
  </sys-card-content>
  <sys-card-action>
    <mat-icon class="mat-18">edit</mat-icon>
  </sys-card-action>
</sys-card>
<br>



  <!-- <sys-card  cardImg="https://clicxy.com/wp-content/uploads/2016/04/dummy-post-horisontal.jpg" [flatImage]="true" [horigentalCard]="true" >
    <sys-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias voluptatem a incidunt consectetur tenetur sequi soluta blanditiis esse eius, obcaecati quod aspernatur, praesentium magnam cumque sit.
        </p>
    </sys-card-content>
    <sys-card-action>
      <sys-button icon="check" class="textBtn" color="olive">
        Accept
      </sys-button>
    </sys-card-action>
  </sys-card>

  <sys-card  cardImg="https://clicxy.com/wp-content/uploads/2016/04/dummy-post-horisontal.jpg" [flatImage]="true" [horigentalCard]="true" >
    <sys-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere deserunt, similique alias voluptatem a incidunt consectetur tenetur sequi soluta blanditiis esse eius, obcaecati quod aspernatur, praesentium magnam cumque sit.
        </p>
    </sys-card-content>
    <sys-card-action>
      <sys-button icon="check" class="textBtn" color="olive">
        Accept
      </sys-button>
    </sys-card-action>
  </sys-card> -->

