.grid{
  display: flex;
  gap: 0px 10px;

  @media(max-width: 767px){
    flex-wrap:wrap;
  }
}

::ng-deep{
  .treeIcon{
    color:  orange
  }
  .expend{
    color:  green
  }
  .child {
    .treeIcon{
      color:  red
    }
  }
}
