<sys-button icon="view_agenda"  (click)="openDialog()">Center Dialog</sys-button>
<br>
<sys-button icon="view_agenda"  (click)="openDialog2()">Right Dialog</sys-button>



<sys-dialog *ngIf="showDialog" title="Dialog Box Title" (closeDialog)="onCancel()">
  <sys-dialog-header>
    <!-- Dialog 1 Title <button (click)="openDialog2()">Add</button> -->
  </sys-dialog-header>
  <sys-dialog-body>
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sit accusantium consequatur eius, a voluptates quae fugiat nemo dicta nam perferendis culpa mollitia velit qui labore. Magnam culpa adipisci atque!
      </p>
  </sys-dialog-body>
  <sys-dialog-action>
    <sys-button (click)="onCancel()" icon="cancel" class="textBtn" color="error">
      Cancel
    </sys-button>
    <sys-button (click)="onConfirm()" icon="check" class="textBtn" color="olive">
      Ok
    </sys-button>
  </sys-dialog-action>
</sys-dialog>




<sys-dialog *ngIf="showDialog2" title="Dialog Box Title" [shiftRight]="true" (closeDialog)="onCancel2()">
  <sys-dialog-header>
    <!-- Dialog 1 Title <button (click)="openDialog2()">Add</button> -->
  </sys-dialog-header>
  <sys-dialog-body>
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sit accusantium consequatur eius, a voluptates quae fugiat nemo dicta nam perferendis culpa mollitia velit qui labore. Magnam culpa adipisci atque!
      </p>
  </sys-dialog-body>
  <sys-dialog-action>
    <sys-button (click)="onCancel2()" icon="cancel" class="textBtn" color="error">
      Cancel
    </sys-button>
    <sys-button (click)="onConfirm2()" icon="check" class="textBtn" color="olive">
      Ok
    </sys-button>
  </sys-dialog-action>
</sys-dialog>
